导入模型

In [61]:
import numpy as np
import pandas as pd

In [62]:
all_df = pd.read_csv( "../output/feature_engineer.csv", header=0, keep_default_na=False)
all_df.columns =["area","houseType","houseFloor","totalFloor","houseToward","region","plate","buildYear","subwayStationNum","saleSecHouseNum"]
all_df.head()

,area,houseType,houseFloor,totalFloor,houseToward,region,plate,buildYear,subwayStationNum,saleSecHouseNum
0,125.55,3室2厅2卫,1,14,南,RG00002,BK00049,2007,2,0
1,132.00,3室2厅2卫,0,32,南,RG00002,BK00050,1865,6,3
2,57.00,1室1厅1卫,1,17,南,RG00002,BK00051,1865,3,0
3,129.00,3室2厅3卫,0,2,南,RG00003,BK00044,1865,0,1
4,223.35,4室3厅3卫,0,2,南,RG00002,BK00052,2003,22,1

In [63]:
all_dummy_df = pd.get_dummies(all_df)
all_dummy_df.head()

,area,houseFloor,totalFloor,buildYear,subwayStationNum,saleSecHouseNum,houseType_0室0厅1卫,houseType_1室0厅0卫,houseType_1室0厅1卫,houseType_1室1厅0卫,...,plate_BK00057,plate_BK00058,plate_BK00059,plate_BK00060,plate_BK00061,plate_BK00062,plate_BK00063,plate_BK00064,plate_BK00065,plate_BK00066
0,125.55,1,14,2007,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,132.00,0,32,1865,6,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,57.00,1,17,1865,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,129.00,0,2,1865,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,223.35,0,2,2003,22,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
dummy_train_df = all_dummy_df.loc[train_df.index]
dummy_test_df = all_dummy_df.loc[test_df.index]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

KeyError: "None of [Int64Index([100000079, 100000138, 100000192, 100000200, 100000430, 100000436,\n            100000510, 100000567, 100000724, 100000811,\n            ...\n            100314357, 100314366, 100314385, 100314496, 100314522, 100314527,\n            100314532, 100314560, 100314660, 100316531],\n           dtype='int64', name='ID', length=2469)] are in the [index]"